.gitignore export-ignore
.gitattributes export-ignore
.editorconfig export-ignore

package-lock.json export-ignore
package.json export-ignore
phpunit.xml
webpack.config.js export-ignore

app export-ignore
docs export-ignore
tests export-ignore
