.k-link-field {
    .k-button-group {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        .k-button {
            line-height: 1.25rem;
            padding: .5rem;
            border-right: 1px solid #ccc;
            flex: 1;
            &:last-child {
                border-right: 0;
            }
            .k-button-text {
                line-height: 1rem;
            }
        }
    }
}