.k-link-field {
    .k-button-group {
        .k-button-text {
            text-transform: capitalize;
        }
    }
    .k-field.hide {
        display: none;
    }
    .link-types {
        .k-field-header {
            display: none;
        }
    }
}